@model DancingGoat.Models.ViewModels.CoffeeDetailViewModel
@{
    ViewBag.Title = Model.CoffeeName;    
    int altitude = 0;
    bool altitudeParsed = Int32.TryParse(Model.Altitude, out altitude);
}

<style>
    .coffee-detail__container {
        margin-top: 40px;
    }

    .coffee-detail__image {
        border: 1px solid #e5e5e5;
        border-radius: 2px;
        width: 100%;
    }

    .coffee-detail__price-container {
        position: absolute;
        top: 100px;
        background-color: #5E99FF;
        padding: 10px 15px 10px 100px;
    }

    .coffee-detail__price {
        color: white;
        font-size: 1.2em;
    }

    .coffee-detail__description-container {
        margin-left: 20px;
    }

    .coffee-detail__description-container dt {
        color: #a5a5a5;
        margin-top: 10px;
    }
    .coffee-detail__description-container dd {        
        margin: 0;
        margin-top: 10px;
    }
</style>

<div>
    <div class="container">
        <h1 class="logo">
            @Html.Raw(Model.CoffeeName)
        </h1>
        
        <div class="coffee-detail__container">
            <div>
                <div class="col-md-7">
                    <div class="coffee-detail__price-container">
                        <div class="coffee-detail__price">$@Html.Raw(Model.Price) / 1lb</div>
                    </div>
                    @Html.AssetImage(Model.Photo, cssClass: "coffee-detail__image")
                </div>
                <div class="col-md-5">                    
                    <div class="coffee-detail__description-container">
                        <p>@Html.DisplayFor(vm => Model.LongDescription)</p>
                        <h4>@Resources.DancingGoat.Product_Parameters</h4>
                        <dl class="row">
                            <dt class="col-xs-12 col-sm-4">@Resources.DancingGoat.Coffee_Farm</dt>
                            <dd class="col-xs-12 col-sm-8">@Html.DisplayFor(vm => vm.Farm)</dd>
                            <dt class="col-xs-12 col-sm-4">@Resources.DancingGoat.Coffee_Variety</dt>
                            <dd class="col-xs-12 col-sm-8">@Html.DisplayFor(vm => vm.Variety)</dd>
                            <dt class="col-xs-12 col-sm-4">@Resources.DancingGoat.Coffee_Processing</dt>
                            <dd class="col-xs-12 col-sm-8">@if (Model.Processing != null) { @Html.DisplayFor(vm => vm.Processing.Name) }</dd>
                            <dt class="col-xs-12 col-sm-4">@Resources.DancingGoat.Coffee_Altitude</dt>
                            @if (altitudeParsed)
                            {
                                <dd class="col-xs-12 col-sm-8">@altitude.ToString("N0") ft</dd>
                            }
                        </dl>
                    </div>
                </div>
            </div>
        </div>
        
        @if (Model.CallToAction != null)
        {
            <div class="col-md-8">
                @Html.DisplayFor(x => x.CallToAction)
            </div>
        }
    </div>
</div>


