@model DancingGoat.Models.ViewModels.CoffeeThumbnailViewModel

<div class="col-md-6">
    <div class="coffee-thumbnail__container">
        <div class="col-md-6">
            <a href="@Url.Action("Show", "Coffees", new { urlSlug = Model.UrlLabel })" onclick="ket('action', '@Model.CoffeeCategory')">
                @Html.AssetImage(Model.Photo.FirstOrDefault(), cssClass: "coffee-thumbnail__image")
            </a>
        </div>
        <div class="col-md-6 coffee-thumbnail__details-container">
            <p class="coffee-thumbnail__name">
                <a href="@Url.Action("Show", "Coffees", new { urlSlug = Model.UrlLabel })" onclick="ket('action', '@Model.CoffeeCategory')">
                    @Html.Raw(Model.CoffeeName)
                </a>
            </p>
            <p>@Html.Raw(Model.ShortDescription)</p>
            <div class="coffee-thumbnail__price-container">
                <div class="coffee-thumbnail__price">$@Html.Raw(Model.Price) / 1 lb</div>
                <div class="coffee-thumbnail__processing">@Html.Raw(Model.ProcessingTechnique)</div>
            </div>
        </div>
    </div>
</div>
