@model DancingGoat.Models.ViewModels.FindCafesViewModel

@{
    ViewBag.Title = Resources.DancingGoat.Cafes;
}

@section Scripts {
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAVOq4C-rf7JVeHt6ws9vsf-KHIRpueASg"></script>
    @Scripts.Render("~/Scripts/map.js")
}

<style>
    .map__container {
        margin-top: 40px;
    }

    .cta__container {
        margin-top: 20px;
    }
</style>

<h1 class="map-title logo">@Resources.DancingGoat.Cafes_MapTitle</h1>

<div class="col-lg-12 map__container">    
    <div class="map js-map"></div>
</div>

@if (Model.CallToAction != null)
{
    <div class="col-lg-8 cta__container">
        @Html.DisplayFor(vm => vm.CallToAction)
    </div>
}

<div class="col-lg-12">
    <h2>@Resources.DancingGoat.FavoriteCafes</h2>
    <div class="row">
        @Html.DisplayFor(vm => vm.HandpickedCafes, new { ShowImage = true })
    </div>
</div>